#OS Files
*.DS_Store

# Ignore macOS system files
.DS_Store

#Files
source_files/

# Postgres volume data
ny_taxi_postgres_data/

#Virtual env
.venv/

#UV
.python-version

#All config direc
**/config/

#All files direct
**/files/
